@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-1: #FFFFFF;
  --color-2: #242424;
  --color-3: #DDDDDD;
  --color-4: #B7B7B7;
  --color-5: #C9C9C9;

  --foreground: var(--color-2);
  --background: var(--color-1);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--color-1);
    --foreground: var(--color-2);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins);
}