@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-1: #FFFFFF;
  --color-2: #242424;
  --color-3: #DDDDDD;
  --color-4: #B7B7B7;
  --color-5: #C9C9C9;

  --foreground: var(--color-2);
  --background: var(--color-1);

  --online-shop: url("/bg-online-shop.png");

  /** Product Images */
  --techno-evolved_front_light: url("https://res.cloudinary.com/dkqzrblhj/image/upload/v1734932452/wearins/products/techno-evolved_front_light.png");
  --all-for-one_dark: url("https://res.cloudinary.com/dkqzrblhj/image/upload/v1734932452/wearins/products/all-for-one_back_dark.png");
  --all-for-one_light: url("https://res.cloudinary.com/dkqzrblhj/image/upload/v1734932452/wearins/products/all-for-one_back_light.png");
}

@media (prefers-color-scheme: light) {
  :root {
    --background: var(--color-1);
    --foreground: var(--color-2);
  }
}


::-webkit-scrollbar {
  background-color: var(--color-2);
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-1);
  border-radius: 40px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins);
}